@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Autor: Mauro Salguero</p>
    <p><a href="https://github.com/MauroS1000/MauroSalguero_1P">Proyecto en Github</a></p>
</div>
